:root {
  --dark-blue-color: #1f2937;
  --grey-color: #e5e7eb;
  --white-color: #faf9f8;
  --blue-color: #3882f6;
  --dark-grey-color: #727579;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* Header Section */
header {
  padding: 0 400px;
  background-color: var(--dark-blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--white-color);
  font-size: 24px;
}

ul {
  padding: 0;
  gap: 20px;
  margin: 0;
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--grey-color);
}

/* Hero Section */
.hero-container {
  padding: 50px 400px 80px;
  background-color: var(--dark-blue-color);
  display: flex;
}

.hero-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.hero-left-side h1 {
  margin: 0 32px 8px 0;
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

.hero-left-side p {
  margin: 0 100px 8px 0;
  color: var(--grey-color);
  font-size: 18px;
  line-height: 1;
}

.hero-left-side button {
  color: var(--white-color);
  font-weight: 700;
  background-color: var(--blue-color);
  border: none;
  border-radius: 5px;
  padding: 4px 20px;
}

.hero-right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey-color);
}

.hero-right-side p {
  color: var(--white-color);
  font-weight: 400;
}
