:root {
  --dark-blue-color: #1f2937;
  --grey-color: #e5e7eb;
  --white-color: #faf9f8;
  --blue-color: #3882f6;
  --dark-grey-color: #727579;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* Header Section */
header {
  padding: 0 400px;
  background-color: var(--dark-blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--white-color);
  font-size: 24px;
}

ul {
  padding: 0;
  gap: 20px;
  margin: 0;
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--grey-color);
}

/* Hero Section */
.hero-section {
  padding: 50px 400px 100px;
  background-color: var(--dark-blue-color);
  display: flex;
}

.hero-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.hero-left-side h1 {
  margin: 0 32px 8px 0;
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

.hero-left-side p {
  margin: 0 100px 8px 0;
  color: var(--grey-color);
  font-size: 18px;
  line-height: 1;
}

.hero-left-side button {
  color: var(--white-color);
  font-weight: 700;
  background-color: var(--blue-color);
  border: none;
  border-radius: 5px;
  padding: 4px 20px;
}

.hero-right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey-color);
}

.hero-right-side p {
  color: var(--white-color);
  font-weight: 400;
}

/* Information Section */
.information-section {
  padding: 30px 400px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.information-section h2 {
  color: var(--dark-blue-color);
  font-size: 36px;
  font-weight: 900;
}

.information-cards-container {
  padding: 0 70px;
  display: flex;
}

.card {
  border-radius: 10px;
  margin-right: 75px;
}

.blue-square {
  width: 98%;
  height: 150px;
  border: 3px solid var(--blue-color);
  border-radius: 10px;
}

.card p {
  color: var(--dark-grey-color);
  font-size: 18px;
  text-align: center;
}

/*  Quote Section */
.quote-section {
  padding: 100px 400px 100px;
  background-color: var(--grey-color);
}

.quote-container {
  padding: 0 90px;
}

.quote {
  padding: 0 80px 0 10px;
  color: var(--dark-blue-color);
  font-size: 36px;
  font-weight: 300;
  text-align: justify;
}

.quote-author {
  padding: 0 80px 0 10px;
  color: var(--dark-blue-color);
  font-weight: 700;
  font-size: 20px;
  text-align: end;
}
/*  CallforAction Section*/
.action-section {
  padding: 100px 400px 100px;
}

.action-container {
  padding: 0 70px;
  background-color: var(--blue-color);
  border-radius: 5px;
  display: flex;
}

.action-text-container {
  flex: 1;
  padding: 30px 0;
}

.action-text-container h3 {
  color: var(--white-color);
  margin: 0;
  font-size: 24px;
}

.action-text-container p {
  color: var(--grey-color);
  margin: 0;
}

.action-button-container {
  padding-right: 100px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.action-button-container button {
  background-color: var(--blue-color);
  border: 2px solid var(--white-color);
  border-radius: 5px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  padding: 4px 28px;
}

/*  Foorter Section*/
footer {
  background-color: var(--dark-blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

footer p {
  color: var(--grey-color);
}
